/* CSS override */
html,body,h1,h2,h3,p,div{
	margin:0;
	padding:0;
}

html,body,.container{
	width:100%;
	height:100%;
	position:relative;
}

.sidebar,
.main-viz,
footer{
	position:absolute;
}
.sidebar{
	background:yellow;
	top:0;
	bottom:100px;
	left:0;
	right:70%;
}
.main-viz{
	background:blue;
	top:0;
	bottom:100px;
	left:30%;
	right:0;
}
footer{
	background:green;
	bottom:0;
	width:100%;
	height:100px;
}

.sidebar .module{
	box-sizing:border-box;
	border:1px solid black;
	height: 200px;
}