.header{
	position:absolute;
	width:100%;
	height:60px;
}
.viz{
	position:absolute;
	width:100%;
	top:60px;
	bottom:0px;
}

.plot{
	height:100%;
	width:50%;
	float:left;
}

.full-screen{
	width:100%;
	height:100%;
}

.node{
	fill:#E9371C;
	stroke:#333;
	stroke-width:1px;
	opacity:.2;
}

.axis line{
	stroke:#333;
	stroke-opacity:.2;
}

.axis .domain{
	display:none;
}

.custom-tooltip{
	position:absolute; 
	width:100px;
	min-height:20px;
	background:lightgrey;
	fill-opacity:10;
}